
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.banner-container{
    width: 1440px;
    height: 700px;
    margin: 0 auto;
    background-image: url(Assets/hero-bg.png);
    background-repeat: no-repeat;
        
}
    
   
nav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    
}
nav ul{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
    text-align: left;
    margin-left: 60px;
    
}
nav ul a{
    text-decoration:none ;
}
.btn{
    width: 132px;
    height: 48px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
}
.btnmar{
    margin-right: 130px;
}
.banner-section h1{
    font-size: 65px;
   text-align: center;
    width: 70%;
    margin: 90px auto; 
}
.focused{
    width: 174px;
    margin: 30px auto;
}
/* action section  */
.action{
    display: flex;
    width: 1440px;
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
    
}
.actionright{
    margin-right: 60px;
}
.actionleft{
    margin-left: 60px;
}
.action-title{
    font-size: 42px;
    color: #252432;
    font-weight: 700
}
.action-subtitle{
    font-size: 24px;
    color: #48484c;
    font-weight: 400;
}
.live-btn{
    width: 229px;
    height: 48px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
}
.actionright img {
    border-radius: 35px;
}

/* user section  */
.user-section{
    width: 1200px;
    height: 306px;
    margin: 100px auto;
    border-radius: 35px;
    background-color: #efefff;
    padding: 60px;
}
.usr-caption{
    font-size: 38px;
    color: #252432;
    font-weight: bold;
    text-align: center;
    
}
.usr-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto 200px;
}
.usr-des h1{
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
    margin-bottom: -20px;
}
.usr-des p{
    font-size: 20px;
    color: #868686;
    margin-bottom: 100px;
}