
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color: #eeeeee;
}
.banner-container{
    width: 1440px;
    height: 700px;
    margin: 0 auto;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
        
}
    
   
nav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    
}
nav ul{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
    text-align: left;
    margin-left: 60px;
    
}
nav ul a{
    text-decoration:none ;
}
.btn{
    width: 132px;
    height: 48px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #00a403;
    font-size: 18px;
    box-shadow: 0 0 10px #00a403;
}
.btnmar{
    margin-right: 130px;
}

.banner-section h1{
    font-size: 65px;
   text-align: center;
    width: 70%;
    margin: 90px auto; 
}
.focused{
    width: 174px;
    margin: 30px auto;
}
/* action section  */
.action{
    display: flex;
    width: 1440px;
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
    
}
.actionright{
    margin-right: 60px;
}
.actionleft{
    margin-left: 60px;
}
.action-title{
    font-size: 42px;
    color: #252432;
    font-weight: 700
}
.action-subtitle{
    font-size: 24px;
    color: #48484c;
    font-weight: 400;
}
.live-btn{
    width: 229px;
    height: 48px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.live-btn:hover{
    background-color: #00a403;
    font-size: 18px;
    box-shadow: 0 0 10px #00a403;
}
.actionright img {
    border-radius: 35px;
}

/* user section  */
.user-section{
    width: 1200px;
    height: 306px;
    margin: 100px auto;
    border-radius: 35px;
    background-color: #efefff;
    padding: 60px;
}
.usr-caption{
    font-size: 38px;
    color: #252432;
    font-weight: bold;
    text-align: center;
    
}
.usr-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto 200px;
}
.usr-des h1{
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
    margin-bottom: -20px;
}
.usr-des p{
    font-size: 20px;
    color: #868686;
    margin-bottom: 100px;
}

/* get in touch form section */
.getintouch{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 350px;
    align-items: center;
    justify-content: space-between;
    
    padding: 50px 100px;
}
.get-data h1{
    font-size: 95px;
    color: black;
    font-weight: bold;
    margin-left: 70px;
}
.label-title{
    font-size: 18px;
    color: black;
    font-weight: 700;
}
.input{
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid rgb(183, 183, 183);
    font-size: 22px;
}
.textarea{
   width: 497px;     
   border-radius: 10px;
   border: 1px solid rgb(183, 183, 183);
   font-size: 22px;
}
.getbutton{
    width: 500px;
    height: 48px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    margin-left: 16px;
    cursor: pointer;
}
.getbutton:hover{
    background-color: #00a403;
    font-size: 18px;
    box-shadow: 0 0 10px #00a403;
}
.label-title, .input, .textarea{
    margin: 15px;
}

/* footer section  */
footer{
    width: 1440px;
    margin: 250px auto;
    text-align: center;
   
}
footer h1{
    font-size: 100px;
    color: #4E47FF;
    font-weight: bolder;
}
footer p{
    font-size: 28px;
    color: #8987A1;
    font-weight: normal;
}
footer div{
    display: flex;
    gap: 80px;
    justify-content: center;
}
footer div h5{
    font-size: 28px;
    color: #8987A1;
    font-weight: normal;
    
}
footer div h5 a{
    text-decoration: none;
}

/* feedback section  */
.feedback-section h1{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px auto;
}
.card{
    width: 350px;
    height: auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(178, 178, 178);
}
.card:hover{
    
    box-shadow: 0 0 20px 0px rgb(0, 0, 255);
}
.card h2{
    font-size: 20px;
    
}
.card h3{
    font-size: 17px;
    font-weight: normal;
}
.card-review{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.card-review h3{
    font-size: 20px;
    color: #48484c;
    font-weight: bold;
    
}
.card-review h4{
    font-size: 20px;
    color: #48484c;
    font-weight: normal;
    
}
.card-review img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
.card-review div h3{
    margin-top: 50px;
}
.card-review div h4{
    margin-bottom: 50px;
}